  /*HEADER BANNER*/
 
  .header-banner {
    background-image: url("../assets/header_nos\ casamos.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    & div {
        text-align: left;
        color: $blanco;
        padding-top: 250px;
        padding-left: 50px;
        & h1 {
            font-size: $h1;
        }
    }
 }